* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    margin-bottom: 20px;
}
.main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.text-wrapper {
    border: 1px solid;
    padding: 5px;
}
.text {
    overflow: hidden;
    width: 60vh;
    height: calc(80vh - 2px);
    line-height: 18px;
    /*word-break: break-all;*/
    text-align: justify;
}
.text p {
    text-indent: 20px;
    margin-bottom: 3px;
}
.text p.continuation {
    text-indent: 0;
}
.section-title {
    /*font-weight: 600;*/
}
.buttons {
    position: absolute;
    top: 20px;
    width: 60vh;
    display: flex;
    justify-content: space-between;
}
.buttons button {
    width: 50px;
    cursor: pointer;
}